/* ESTILO GERAL */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    background-color:#E5EAF3 ;
    cursor: pointer;
    transition: .2s;

}
button:hover , form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #a3c0f1d3;
    transform: scale(1.2);
}
h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #323491;
}

/* ESTILO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #bfc1c5;
    text-decoration: none;
    display: inline-block;
    transition: .2;
}
header a:hover{
    color: #E5EAF3;
    transform: scale(1.2);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 30px;
}

header .interface  .logo a img{
    border-radius: 40%;
    padding: 0 40px;
    gap: 90px;
}
section.topo-site{
    padding: 40px 4% ;
}
section.topo-site .flex{
    align-items: center;
    justify-content: center;

}

.topo-site .txt-topo-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}
.topo-site .txt-topo-site h1 span{
    color: #323491;
    font-size: 70px;
}
.topo-site .txt-topo-site p{
    color: #fff;
    font-size: 18px;
    margin: 40px 0;
}
.topo-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILIZAÇÃO ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.733);
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #323491;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
section.sobre{
    padding: 50px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .img-sobre img{
    border-radius: 30px;
    width: 100%;

}
.sobre .txt-sobre{
    color: white;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #323491;
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 26px;
    border: none;
    background-color: #323491;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;


}
section.portifolio{
    padding: 80px 4%;
    box-shadow:  0 0 40px 10px #ffffff33;
}
section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;

}
.img-port{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-size:cover;
    background-position: 100% 0%;
    transform: scale(1.2);
    transition: 8s;
    border-radius: 30px;

}
.img-port:hover{
    background-position: 100% 100%;
    transform: scale(1.2)
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 100%;
}
section.formulario{
    padding: 80px 4%;

}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: #333333;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}
form textarea{
    resize: vertical;
    max-height: 500px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #323491;
    color: #000;
    font-weight: 600;
    transition: .2s;

}

/* ESTILIZAÇÃO RODAPE */

footer{
    padding: 40px 4%;
    box-shadow:  0 0 40px 10px #ffffff33;
}
footer .flex{
    justify-content: space-between;
}
footer .line-footer{
    padding: 20px 0;
}
.borda{
    border-top: 2px solid #323491;
}
footer .line-footer p i{
    color: #323491;
    font-size: 28px;
    
}
footer .line-footer p a {
    color: #fff;
}
footer .autor h4{
    color: #fff;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    .topo-site .flex{
        flex-direction: column-reverse;
    }
    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
        
    }
    /* TOPO DO SITE */
    section.topo-site .flex{
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    section.topo-site{
        padding: 20px 8% ;
    }
    .topo-site h1{
        font-size: 30px;
    }
    .topo-site .img-topo-site img {
        width: 100%;
    }
    /* ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }
    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        text-align: center;
        line-height: 35px;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre{
        width: 100%;
    }
    /* PORTIFOLIO */
    section.portifolio{
        padding: 80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    
    }
    section.portifolio .flex{
        gap: 60px;
    
    }
    /* rodape */
    footer .flex{
        flex-direction: column;
    }
    footer .line-footer{
        text-align: center;
        
    }

}